//引入清除默认样式
@import './reset.scss';

//滚动条外观设置
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: $base-menu-background;
}

::-webkit-scrollbar-thumb {
  width: 10px;
  background-color: yellowgreen;
  border-radius: 10px;
}

.noContentData {
  height: 180 * $bs;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  img {
    width: 70 * $bs;
    height: 70 * $bs;
  }

  .noDataText {
    line-height: 50 * $bs;
    padding-left: 10 * $bs;
    font-size: 16 * $bs;
  }
}